.navWraper {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav p {
  padding: 0 7px 0 8px;
  line-height: 50px;
  white-space: nowrap;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  position: relative;
}
