@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: trebuct;
  src: url(../assets/fonts/trebuc.ttf);
}

body {
  font-family: var(--local-font);
}

.spacing-x {
  padding-left: 7%;
  padding-right: 7%;
}
