@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: trebuct;
  src: url(../assets/fonts/trebuc.ttf);
}

body {
  font-family: var(--local-font);
}

.spacing-x {
  padding-left: 7%;
  padding-right: 7%;
}
.title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
}
